/* Global styles */
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #08101c;
  color: white;
}

h1, ul, p{
  font-family: 'Roboto Medium', sans-serif;
  margin: 0px;
}

h2{
  font-family: 'Roboto Light', sans-serif;
  margin: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}

a {
  font-family: 'Roboto Medium', sans-serif;
  text-decoration: none;
  color: white;
  margin: 0px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.flex-container {
  display: flex;
  margin: auto;
  width: 100%;
}

.btn {
  display: block;
  border: 1px solid #850F45;
  outline: none;
  padding: 12px 16px;
  background-color: #08101c;
  cursor: pointer;
  font-size: 15px;
  color: #9C275C;
  border-radius: 6px;
  transition: background 0.5s;
}

/*Add a dark background color to the active button*/
.btn.active {
  font-family: 'Roboto Black', sans-serif;
}

.btn.active:hover {
  background: #850F45;
  color: #EDEDB4;
}

/************** Header styles **************/
.header-bg {
  background-image: linear-gradient(to bottom, transparent 10%, #08101c 90%), url('/img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav-list a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.nav-list li a::after {
  content: "";
  height: 2px;
  width: 0px;
  background: #850F45;
  left: 0;
  transition: 0.5s;
  position: absolute;
  bottom: -1px;
}

.nav-list li a:hover {
  color: #850F45;
}

.nav-list li a:hover::after {
  width: 100%;
  color: #850F45;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
}

/*********** Introdução section ***********/
.introducao-bg {
  height: 90vh;
  color: white;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.introducao {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.introducao h1{
  font-size: 30px;
}

.introducao p{
  padding-top: 5px;
  font-size: 17px;
  font-family: 'Roboto Light', sans-serif;
}

.introducao span {
  color: #850F45;
}

.introducao-image {
  max-width: 400vh;
}

.introducao-image img {
  height: 420px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

/* Section styles */
section h2 {
  margin-bottom: 10px;
}

section p {
  margin-bottom: 20px;
}

/*************** About section styles ***************/
#about {
  padding: 15px 0;
}

.about-container {
  align-items: center;
  justify-content: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 5px 20px;
}

.about-text {
  flex: 1;
  margin-right: 40px;
  font-size: 16px;
  max-width: 750px;
}

.too {
  display: flex;
  align-items: center;
}

.about-container h2 {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0 auto;
  padding: 15px 0;
}

.about-container h2::before {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-right: 10px;
}

.about-container h2::after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-left: 10px;
}

/*.about-text h2 {
  margin-bottom: 20px;
  color: white;
}

.about-text h2::after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  transition: 0.5s;
  left: 0;
  position: relative;
  bottom: -1px;
}

.about-text h2:hover {
  color: #850F45;
}*/

.about-text p {
  margin-bottom: 15px;
  color: white;
}

#myBtnContainer {
  padding-top: 10px;
}

#myBtnContainer button {
  font-family: 'Roboto Medium', sans-serif;
}

.about-image {
  flex: 1;
  max-width: 400vh;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.about-image img {
  max-width: 70%;
  height: auto;
  border-radius: 5px;
  margin-left: 40px;
}

/******* Habilidades section styles *******/
#habilidades {
  padding: 25px 0;
  color: white;
}

.habilidades-container {
  align-items: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 25px;
}

.habilidades-container h2 {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0 auto;
  padding: 15px 0;
}

.habilidades-container h2::before {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-right: 10px;
}

.habilidades-container h2::after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-left: 10px;
}

.container-skills {
  width: 100%;
  background-color: #ddd;
  height: 0.5vh;
}

.skills {
  text-align: right;
  height: 0.5vh;
  color: white;
}

.python {width: 72%; background-color: #388147;}
.sqlServer {width: 65%; background-color: #388147;}
.css {width: 70%; background-color: #388147;}
.js {width: 70%; background-color: #388147;}
.java {width: 60%; background-color: #388147;}
.git {width: 65%; background-color: #388147;}
.html {width: 75%; background-color: #388147;}
.linux {width: 60%; background-color: #388147;}
.mysql {width: 80%; background-color: #388147;}
.excel {width: 86%; background-color: #388147;}
.powerbi {width: 62%; background-color: #388147;}
.tableau {width: 55%; background-color: #388147;}

.top-skills {
  display: flex;
  justify-content: space-between;
  min-height: 3vh;
}

.column-skills {
  float: left;
  width: 25%;
  padding-right: 10px;
}

/* Clear floats after the columns */
.row-skills:after {
  content: "";
  display: table;
  clear: both;
}

/************ Projects section styles ************/
#projects {
  padding: 25px 0;
  color: white;
  background-color: #08101c;
}

.projects-container {
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.projects-container h2 {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0 auto;
  padding: 0 20px 25px;
}

.projects-container h2::before {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-right: 10px;
}

.projects-container h2::after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-left: 10px;
}

.row {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  padding: 30px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.column img {
  border-radius: 10px;
  display: block;
  width: 100%;
  transition: transform 0.5s;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content-projects {
  background: linear-gradient(rgba(0,0,0,0.6), #9C275C);
  width: 100%;
  height: 0;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.column:hover img {
  transform: scale(1.1);
}

.column:hover .content-projects {
  height: 100%;
}

.content-projects h4 {
  color: white;
  font-family: 'Roboto Light', sans-serif;
  font-size: 18px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/************** Contact  **************/
#contact {
  color: white;
  padding: 25px 0;
}

.contact-container {
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.contact-container h2 {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0 auto;
  padding: 0 20px 25px;
}

.contact-container h2::before {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-right: 10px;
}

.contact-container h2::after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #850F45;
  margin-left: 10px;
}

.contact-me {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
}

.contact-me h3 {
  margin-bottom: 35px;
  font-size: 40px;
}

.contact-left p {
  padding: 0;
  margin-bottom: 5px;
}

.contact-dados {
  width: 50%;
  justify-content: space-between;
}

.contact-dados p i {
  font-size: 25px;
  color: #9C275C;
  margin-right: 6px;
}

.redes {
  padding: 0;
  margin: 0;
}

.redes a {
  font-size: 30px;
  margin-right: 15px;
  color: #cabbab;
  display: inline-block;
  transition: transform 0.5s;
}

.redes a:hover {
  color: #9C275C;
  transform: translateY(-5px);
}

.contact-form form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #0c141b;
  padding: 15px;
  margin: 15px 0;
  color: #cabbab;
  font-size: 18px;
  border-radius: 6px;
}

/********* Footer styles ********/
.copy {
  color: #850F45;
  padding: 20px 15px 5px;
  text-align: center;
  font-family: 'Roboto Medium', sans-serif;
  background-color: #0c141b;
  height: 100%;
}

/********* Media queries for responsiveness ********/
@media (max-width: 999px) {
  html, body {
    overflow-x: hidden;
    position: relative;
  }

  .about-container {
    max-width: 100%;
    padding: 0;
  }

  .too {
    display: block;
    max-width: 100%;
    padding: 5px 20px;
  }

  .about-image {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .about-image img {
    max-width: 60%;
    margin-left: 0px;
  }

  .about-text {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    font-size: 16px;
    max-width: 100%;
  }

  .row {
    max-width: 100%;
  }

  .content {
    max-width: 100%;
  }

  .column {
    float: left;
    width: 100%;
  }

  .container {
    max-width: 100%;
    padding: 10px;
  }

  .btn-container {
    max-width: 100%;
  }

  .header {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #08101c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .column-skills {
    width: 100%;
  }
  
  .projects-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .text {
    color: #E2B9B3;
    font-size: 15px;
    padding: 5px 5px;
  }

  .contact-me {
    display: block;
  }

  .contact-dados {
    display: block;
    width: 100%;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}